@font-face {
    font-family: 'goudy_bookletter_1911regular';
    src: url('goudy_bookletter_1911-webfont.eot');
    src: url('goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'),
         url('goudy_bookletter_1911-webfont.woff') format('woff'),
         url('goudy_bookletter_1911-webfont.ttf') format('truetype'),
         url('goudy_bookletter_1911-webfont.svg#goudy_bookletter_1911regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'discoregular';
    src: url('DISCO___-webfont.eot');
    src: url('DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('DISCO___-webfont.woff') format('woff'),
         url('DISCO___-webfont.ttf') format('truetype'),
         url('DISCO___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	font-family:goudy_bookletter_1911regular, sans-serif;
	color:#999944;
	text-align:center;
	font-size: 68%;  /*ems*/
	line-height: 20px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header{
    position:fixed;
    z-index: 20;
    background:#ffffff;
    width: 100%;
    margin-top: -20px;
}
h1{
	font-size: 2.2em;
	color:#999944;
	letter-spacing: 0.1em;
	text-align:center;
	display:inline;
    text-transform: uppercase;
    font-family: discoregular, sans-serif;
}
p{
    color:#536e09;
    font-size: 1.6em;
    line-height:1.7em;
    font-family:goudy_bookletter_1911regular, sans-serif;
}
#green{
    padding:30px 0 30px 0;
    margin-top: 180px;
    box-sizing: border-box;
}
#green h1{
    font-size: 2.3em;
    line-height: 2.5em;
}
#homeHome {
	border:none;
    width:38em;
    margin-top: 10px;
}
h2{
	letter-spacing: 2px;
    font-size: 1.3em;
    color:#999944;
    line-height: 0;
    font-family: goudy_bookletter_1911regular, goudy old style;
}
nav{
    text-align: right;
    margin-top: 6em;
}
#nav li{
	text-decoration: none;
	display: inline;
	word-spacing: 2px;
	text-align:right;
	letter-spacing:2px;
    color:#999944;
    padding:7px;
    font-family: goudy_bookletter_1911regular, goudy old style;
}
ul#nav{	
    color:#999944;
    padding:0;
}
#nav-collapse{
    display:none;
}
#nav-narrow{
    display: none;
}
.current{
    opacity: .6;
}
a{
	text-decoration: none;
	font-size: 1.4em;
    color:#536e09;
    font-family: goudy_bookletter_1911regular, goudy old style;
    letter-spacing: 2px;
}
a:active{
color:#fff;
}
a:hover{
	opacity:.60;
}
#photographs{
    margin-top:30px;
    display: block;
} 
#bridal{
}
#bridal{
    padding-top:30px;
}
#bridal h1{
    font-size: 2.3em;
}
#bridal h2{
    margin: 5px;
}
#kyra{
    text-align: right;
    margin: auto 0;
    display: inline-block;
    position: relative;
    padding-right: 5px;
}
#groom{
    text-align:left;
    margin: auto 0;
    display: inline-block;
    position: relative;
   padding-left: 5px;
}
#about{
    padding-bottom: 30px;
}
#together{
        display:block;
        position: relative;
    }
#together p{
    padding-left: 10px;
    padding-right:10px;
}
#events{
    padding-top: 30px;
    padding-bottom: 30px;
}
article#events h1{
    font-family: discoregular;
}
#bridalParty{
    margin:auto 0;
    padding-bottom: 15px;
    display: block;
}
#gentlemen{
    padding-top: 30px;
    display: block;
    position: relative;
}
#kelly, #andy{
    text-align: right;
    margin:auto 0;
    margin-right: 7px;
}
#mila, #matt{
    text-align: left;
    margin: auto 0;
    margin-left: 7px;
}
#map-canvas{
    display:block;
    height:200px;
    margin-top:30px;
}
form{
    display: block;
}
#button{
    border:1px solid #999944;
    outline: none;
    background: none;
    font-family: goudy_bookletter_1911regular, serif;
    letter-spacing: 1px;
}
#button:hover{
    color:#536e09;
    cursor:pointer;
    border:1px solid #536e09;
}
#address{
	text-align: center;
    font-family:goudy_bookletter_1911regular, goudy old style;
    color:#999944;
    display:inline;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1#acc{
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}
i{
    color:#536e09;
}
.hotel{
    font-family: discoregular;
    line-height:1em;
    font-size: 1.7em;
    border:1px solid #536e09;
    padding:.6em;
}
.location{
    line-height: 1.5em;
    margin-bottom: 30px;
}
#stay{
    padding-bottom: 40px;
    margin-top: 3em;
}
#gift{
    margin-top: 15px;
    margin-bottom:30px;
    line-height: 20px;
    color:#536e09;
    font-family: goudy_bookletter_1911regular, serif;
    font-size: 1.2em;
}
#giftSection{
    background-size: 970px auto;
    padding-bottom: 15px;
    margin-top: 30px;
    font-size: 1.2em;
}
#registry{
    font-family: discoregular, sans-serif;
    padding:5px;
    color: #536e09;
    background: white;
    opacity:.7;
     border:1px solid #536e09;
}
footer{
	font-family: goudy_bookletter_1911regular, goudy old style;
	font-size: 0.8em;
	text-align:center;
	display:block;
    float:right;
}
img#bottom{
    display: inline;
   -webkit-transform: rotate(180deg);
}
footer h1 {
    padding-top: 30px;
}
footer h1, footer h3{
    text-align: center;
    display: block;
    margin: auto;
}
label, input{
    margin: 1em;
    outline: none;
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
#add{
        font-family: goudy_bookletter_1911regular;
        color:#536e09;
    }
@media screen and (max-width: 960px) {
    #food{
    display:block;
    line-height: 2em;
    }
    .nav-toggle{
    display:none;
    }
    #nav-collapse{
        display: none;
    }
    #nav-narrow{
        display: none;
    }
    #homeHome{
        width:28em;
    }
    #green{
        margin-top: 140px;
    }
} 

@media screen and (max-width:775px) {
    #nav-narrow h1{
        display: inline-block;
        position: relative;
        z-index: 0;
        padding-top: 10px;
        font-family: goudy_bookletter_1911regular, goudy old style, serif;
        text-transform: lowercase;
    }
    img#homeHome{
        display: none;
    }
     ul#nav{
        display:none;
    }
    #nav-narrow{
       display: block;
       margin-top: 0px;
    }
    ul#nav-collapse{
        display: block;
        list-style: none;
        background: #ffffff;
        position: relative;
        z-index: 20;
        margin-top: 0;
        margin-right: 25px;
    }
    ul#nav-collapse li{
        text-align: right;
    }
    a.nav-toggle{
        display: inline;
        margin: auto;
        font-family: discoregular;
        color:#536e09;
        position: relative;
        z-index: 25;
        float:left;
        margin-top: 15px;
    }
    nav{
        text-align: center;
        margin-top: 1em;
    }
    #green{
        margin-top:50px;
    }
    #together{
        padding-top: 25px;
        display:block;
        position: relative;

    }
    #together p{
        margin-right: 30px;
    }
    #photographs img{
        height: auto;
        width: 97%;
    }
    #kelly p, #mila p, #mila h2, #kelly h2{
        padding-left: 1em;
        padding-right:1em;
    }
    h2#address {
        line-height: 1.4em;
    }
    h2#address #a2{
        display:block;
    }
    h2#address #a3{
        display:block;
    }
    #ceremony, #cocktails, #food{
        margin-top: 30px;
    }
    .location{
        line-height: 1.5em;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    #giftTitle{
        margin-top: 15px;
    }
    img#bottom{
        margin-top:0px;
        text-align: center;
    }
    footer{
        margin-top: 0px;
    }
}
@media screen and (max-width:500px) {
    #nav-narrow h1{
        text-align: right;
        display: inline-block;
        font-size: 1.8em;
    }
    img#homeHome{
        display: none;
    }
    header ul#nav-collapse{
        display: block;
        position: fixed;
    }
    a.nav-toggle{
        display: inline;
    }
    #kyra p, #groom p, #matt p, #andy p{
        padding-right:1.2em;
        padding-left: 1.2em;
    }
    #groom{
        padding-top: 30px;
    }
    #gift{
    padding:.5em;
  }
    img#bottom{
    margin-top:0px;
    } 
}