@font-face {
    font-family: 'discoregular';
    src: url('/Users/Kyra/Documents/coding/wedding/styles/DISCO___-webfont.eot');
    src: url('/Users/Kyra/Documents/coding/wedding/styles/DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Users/Kyra/Documents/coding/wedding/styles/DISCO___-webfont.woff') format('woff'),
         url('/Users/Kyra/Documents/coding/wedding/styles/DISCO___-webfont.ttf') format('truetype'),
         url('/Users/Kyra/Documents/coding/wedding/styles/DISCO___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

