
html{
	font-family:goudybookletter1911, sans-serif;
	color:#999944;
	text-align:center;
	font-size: 62.5%;  /*ems*/
	line-height: 20px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header{
    position:fixed;
    z-index: 20;
    background:#ffffff;
    width: 100%;
    margin-top: -20px;
}
h1{
	font-size: 2.2em;
	color:#999944;
	letter-spacing: 0.1em;
	text-align:center;
	display:inline;
    text-transform: uppercase;
    font-family: disco, sans-serif;
}
p{
    color:#536e09;
    font-size: 1.3em;
    font-family:goudybookletter1911, sans-serif;
}
#green{
    padding:30px 0 30px 0;
    margin-top: 180px;
    box-sizing: border-box;
}
#green h1{
    font-size: 2.3em;
    line-height: 2.5em;
}
#homeHome {
	border:none;
    width:38em;
    margin-top: 10px;
}
h2{
	letter-spacing: 2px;
    font-size: 1.3em;
    color:#999944;
    line-height: 0;
    font-family: goudybookletter1911, goudy old style;
}
nav{
    text-align: right;
    margin-top: 6em;
}
#nav li{
	text-decoration: none;
	display: inline;
	word-spacing: 2px;
	text-align:right;
	letter-spacing:2px;
    color:#999944;
    padding:7px;
    font-family: goudybookletter1911, goudy old style;
}
ul#nav{	
    color:#999944;
}
#nav-collapse{
    display:none;
}
.current{
    opacity: .6;
}
a{
	text-decoration: none;
	font-size: 1.4em;
    color:#536e09;
    font-family: goudybookletter1911, goudy old style;
    letter-spacing: 2px;
}
a:active{
color:#fff;
}
a:hover{
	opacity:.80;
}
#photographs{
    margin-top:30px;
} 
#bridal{
   background: url(/Users/Kyra/Documents/coding/wedding/img/berryBack2.png) no-repeat center;
    background-size: 960px auto;
}
#bridal{
    padding-top:30px;
}
#bridal h1{
    font-size: 2.3em;
}
#bridal h2{
    margin: 5px;
}
#kyra{
    text-align: right;
    margin: auto 0;
    display: inline-block;
    position: relative;
    padding-right: 5px;
}
#groom{
    text-align:left;
    margin: auto 0;
    display: inline-block;
    position: relative;
   padding-left: 5px;
}
#about{
    padding-bottom: 30px;
}
#together{
        display:block;
        position: relative;
    }
#together p{
    padding-left: 10px;
    padding-right:10px;
}
#events{
    padding-top: 30px;
    padding-bottom: 30px;
}
article#events h1{
    font-family: disco;
}
#bridalParty{
    margin:auto 0;
    padding-bottom: 15px;
    display: block;
}
#gentlemen{
    padding-top: 30px;
    display: block;
    position: relative;
}
#kelly{
    text-align: right;
    margin:auto 0;
    margin-right: 7px;
}
#mila{
    text-align: left;
    margin: auto 0;
    margin-left: 7px;
}
#map-canvas{
    display:block;
    height:200px;
    margin-top:30px;
}
#button{
    border:1px solid #999944;
    outline: none;
    background: none;
    font-family: goudybookletter1911, serif;
    letter-spacing: 1px;
}
#button:hover{
    color:#536e09;
    cursor:pointer;
    border:1px solid #536e09;
}
#address{
	text-align: center;
    font-family:goudybookletter1911, goudy old style;
    color:#999944;
    display:inline;
    font-size: 1.3em;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1#acc{
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}
i{
    color:#536e09;
}
.hotel{
    font-family: disco;
    line-height:1em;
    font-size: 1.7em;
    border:1px solid #536e09;
    padding:.6em;
}
.location{
    line-height: 1.5em;
    margin-bottom: 30px;
}
#stay{
    padding-bottom: 40px;
    margin-top: 3em;
}
#gift{
    margin-top: 15px;
    margin-bottom:30px;
    line-height: 20px;
    color:#536e09;
    font-family: goudybookletter1911, serif;
    background: white;
    opacity: .7;
}
#giftSection{
    background:url(/Users/Kyra/Documents/coding/wedding/img/berryBack2.png) no-repeat center;
    background-size: 970px auto;
    padding-bottom: 15px;
    margin-top: 30px;
    box-sizing: border-box;
    font-size: 1.2em;
}
#registry{
    font-family: disco, sans-serif;
    padding:5px;
    color: #536e09;
    background: white;
    opacity:.7;
     border:1px solid #536e09;
}
footer{
	font-family: goudybookletter1911, goudy old style;
	font-size: 0.8em;
	text-align:center;
	display:block;
    float:right;
}
img#bottom{
    display: inline;
    float:right;
}
footer h1 {
    padding-top: 30px;
}
footer h1, footer h3{
    text-align: center;
    display: block;
    margin: auto;
}
label, input{
    margin: 1em;
}
@media screen and (max-width: 960px) {
    #food{
    display:block;
    line-height: 2em;
    }
    .nav-toggle{
    display:none;
    }
    #nav-collapse{
        display: none;
    }
    #homeHome{
        width:28em;
    }
    #green{
        margin-top: 140px;
    }
} 

@media screen and (max-width:770px) {
     ul#nav{
        display:none;
    }
    nav{
        display: inline;
    }
    ul#nav-collapse{
        display: block;
        list-style: none;
        width:100%;
        margin-top: -180px;
        position: fixed;
        z-index: 25;
        background-color: #ffffff;
        padding-top: 2em;
    }
    ul#nav-collapse li{
        line-height: 2.5em;
    }
    ul#nav-collapse li a{
        margin-right: 40px;
    }
    a.nav-toggle{
        display: inline;
        padding: .1em;
        font-family: disco;
        line-height: 1.2em;
        position: absolute;
        z-index: 300;
    }
    #together{
        padding-top: 25px;
        display:block;
        position: relative;
    }
    #fest{
    line-height: 1.9em;
    }
    #kelly p, #mila p, #mila h2, #kelly h2{
        padding-left: 1em;
        padding-right:1em;
    }
    h2#address {
        line-height: 1.4em;
    }
    h2#address #a2{
        display:block;
    }
    h2#address #a3{
        display:block;
    }
    #ceremony, #cocktails, #food{
        margin-top: 30px;
    }
    .location{
        line-height: 1.5em;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    #giftTitle{
        margin-top: 15px;
    }
    img#bottom{
        margin-top:-30px;
    }
    footer{
        margin-top: 0;
    }
}
@media screen and (max-width:480px) {
    img#homeHome{
    display: none;
    }
    header ul#nav-collapse{
        display: block;
        position: fixed;
    }
    a.nav-toggle{
        margin-top: 10px;
        margin-left: 0px; 
    }
    ul#nav-collapse{
        margin-top: -10px;
        line-height: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
    }
    #kyra p, #groom p, #matt p, #andy p{
        padding-right:1.2em;
        padding-left: 1.2em;
    }
    #green{
        margin-top:50px;
    }
    #groom{
        padding-top: 30px;
    }
  #gift{
    padding:.5em;
  }
    
}